dots/.config/nvim/lazy-lock.json
dots/.config/nvm
dots/.config/configstore
dots/.config/vue
dots/.config/lazygit/state.yml
**/.DS_Store
.DS_Store
dots/.config/zsh/.zcompdump
dots/.config/zsh/.zsh_history
dots/.config/tmux/plugins/tmux-*
dots/.config/raycast/extensions
dots/.config/flameshot
dots/.config/node-gyp
dots/.config/joplin-desktop
